* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "TT Hoves";
}

section {
		padding:  0 calc(10.6vw - 16px);
}

.logo {
	padding-top: 38px;
	margin-bottom: calc(6.3vw + 4.3px);
}

.courseInfo {
	display: flex;
	gap: 30px 161px;
	flex-wrap: wrap;
	margin-bottom: calc(3.1vw + 36.8px);
}

.title {
	font-size: calc(0.55vw + 14px);
}

.value {
	font-size: calc(0.55vw + 14px);
	font-weight: 700;
}

h1 {
	font-size: 80px;
	font-family: "Chava";
	margin-bottom: 40px;
}

.header_paragraph {
	width: calc(66.6vw + 77.6px);
	font-size: calc(1vw + 14.2px);
	margin-bottom: 20px;
}

.cta {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;

}

.cta button {
	padding: 20px 0px;
	width: 328px;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #6E3ABA;
	font-weight: 500;
	border-radius: 12px;
}
.purple {
	background-color: #6E3ABA;
	color: #fff;
}

.white {
	background-color: #fff;
	color: #6E3ABA;
}
